/* ---------globale-------------- */
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family:Poppins;
    
}

a{
    text-decoration: none;
    color: white;

}
h2{
    color: rgb(0, 4, 255);
}

/* ----------header------------ */
.navbar{
    background-color : rgb(0, 4, 255) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1.5rem;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    /* height: 2vh; */
    list-style: none;

}

/* ---------main----------- */
.main , .indexmain {
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
}
.indexmain , .list-of-books{
    height: 80vh;
}
.border{
    border: solid 0.2rem rgb(0, 4, 255)  ;
    padding: 0.5rem;
}

/* -------------form add  -------------- */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}
.form-add{
    display: flex;
    flex-direction: column;
    
}
.form-add>input{
    height: 2rem;
    width: 20rem;
    padding: 0.5rem;
    background-color: rgb(155, 154, 154);
    margin: 0.5rem 0;
    border: none;

}
/* .img{
    content: 'Select some files';
    color: black;
    display: inline-block;
      
} */
.button{
    width: 7rem;
    height: 1.7rem;
    background-color: rgb(0, 4, 255);
    border: none;
    color: white;
    cursor:pointer;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-right: 0.4rem;
}
.errors{
    /* width: 20rem; */
    color: red;
    /* height: 2rem; */
    font-size: x-small;
}


/* ---------footer-------------- */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.69rem;
    color: rgb(155, 154, 154);
    font-size:small;
    text-transform: capitalize;
}
table{
    margin-left: 3rem;
}
th{
    background-color: rgba(52, 41, 206, 0.486);
    width: fit-content;
}
td{
    padding: 1rem;

}


